<form action="/todos" method="POST">
  {{>messages}}
  <div class="input-group mb-3">
    <input type="text" placeholder="name" name="name" class="form-control" required="required">
    <div class="input-group-append">
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </div>
</form>